body    {background-color:  black;}
h1      {color:             lightcoral;}
a       {color:             lightyellow;}

div img{
    width:          220px;
    height:         220px;
    display:        block;
}

ul img{
    width:          100px;
    height:         100px;
}

.description{
    color:          white;
    padding-left:   30px;
}

.ingredients{
    color:          lightyellow;
    display:        inline-block;
    padding-left:   100px;
    vertical-align: top;
}

.instructions{
    padding-left:   270px;
    color:          lightyellow;
}


